.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container__text {
  font-size: 700px;
  font-weight: 700;
  line-height: 1;
  color: #FFFFFF50;

  @media (max-width: 1400px) {
    font-size: 370px;
  }

  @media (max-width: 768px) {
    font-size: 160px;
    margin-bottom: 20px;
  }
}
.container__bg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 690px;
  width: 690px;
  z-index: 100;
  background-size: contain;

  @media (max-width: 1400px) {
    height: 380px;
    width: 380px;
  }

  @media (max-width: 768px) {
    height: 160px;
    width: 160px;
  }
}