.detail {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  cursor: pointer;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.detail__wrapper-img {
  display: block;
  height: 100%;
  width: 370px;
  padding: 15px;
  box-sizing: border-box;
  background: #1F2A63;

  @media (max-width: 992px) {
    width: 260px;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.detail__img {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  background-size: contain;
}

.detail__tags {
  display: flex;
  gap: 15px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.detail__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
  box-sizing: border-box;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.detail__description {
  display: flex;
  flex-direction: column;
}

.detail__indicators {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.detail__title.grey {}