.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  position: relative;
  background: linear-gradient(#1F2A63, #17002F);
}