.intl {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
  margin-top: 30px;
}
.filter {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}
.characters {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
.characters__statuses {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex: 1;
}